div {
    border: 1px solid black;
}

img {
    width: 200px;
    justify-content: center;
    border: 4px solid red;
    margin-top: 10%;
}

.Parent {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    width: 100%;
    border: 5px solid red;
    background-color: black;
    color: white;
    padding: 10px;
}

.Albert {
    display: flex;
    justify-content: center;
    background-color: black;
    color: orange;
    border: 10px dashed red;
}

.navBar {
    display: flex;
    justify-Content: space-between;
    background-color: darkgray;
    color: white;
    border: 5px double red;
    padding: 15px;
    margin: 10px;
}

.aboutMe {
    Background-color: black;
    width: 20%;
    justify-content: flex-start;
    border: 3px solid red;
}

.posts {
    background-color: black;
    width: 20%;
    justify-content: center;
    border: 3px solid red;
}

.friendsList {
    background-color: black;
    width: 20%;
    justify-content: flex-end;
    border: 3px solid red;
}

.Nombre {
    background-color: red;
}

.date {
    background-color: blue;
}

.Total {
    background-color: black;
}